.sidebar{
    min-height: 100vh;
    padding: 10px;
    border-right: 2px #b7b7b7 solid;
    width: 20%;
    position: fixed;
<<<<<<< HEAD
=======
    background-color: #0e0f28;
>>>>>>> 81fc8c2fcc69d96f152d525a1c802ffa5bcda62c
}
  
  .sidebar>li{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter';
  }
  
  .sidebar__link{
    display: flex;
    align-items: center;
    padding: 15px 24px;
    border: 8px;
    margin-bottom: 16px;
    border-radius: 8px;
    color: #b7b7b7;
  }
  
  .sidebar__link:hover{
    color: #1514ef;
    background-color: #E7EDFF;
  }
  
  .sidebar__icon{
    font-size: 24px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sidebar__link.active {
    color: #8686d6;  /* Đổi màu text thành xanh */
  }
<<<<<<< HEAD

  .sidebar__submenu {
    list-style: none;
    padding-left: 20px; /* Tạo thụt vào để phân biệt với các mục chính */
  }
  
  .sidebar__submenu li {
    margin-top: 5px;
  }
  
  .sidebar__submenu .sidebar__link {
    color: #888; /* Đổi màu cho các mục con */
  }
  
  .sidebar__submenu .sidebar__link:hover {
    color: #000; /* Màu khi hover */
  }
  
=======
  .logo-header{
    height: 57px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .add_jus{
    justify-content: center;
  }
>>>>>>> 81fc8c2fcc69d96f152d525a1c802ffa5bcda62c
